#import autosub
#import logging
	
		<div class="form-group">
			<label for="Loglevel" class="col-sm-2 control-label"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Set the loglevel.">Loglevel</a></label>
			<div class="col-sm-10">
			<select name="loglevel" class="form-control">
			#if $logging.getLevelName(autosub.LOGLEVEL).lower() == 'info'
				<option value=$logging.INFO selected="selected">Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVEL).lower() == 'critical'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL selected="selected">Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVEL).lower() == 'warning'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING selected="selected">Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVEL).lower() == 'error'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR selected="selected">Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVEL).lower() == 'debug'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG selected="selected">Debug</option>
			#end if
			</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="Lognum" class="col-sm-2 control-label"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Set the amount of log files.">Lognum</a></label>
			<div class="col-sm-10">
			<input type="text" class="form-control" name="lognum" value="$autosub.LOGNUM" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="Logsize" class="col-sm-2 control-label"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Set the maximum size of the log files in bytes.">Logsize</a></label>
			<div class="col-sm-10">
			<input type="text" class="form-control" name="logsize" value="$autosub.LOGSIZE" placeholder="">
			</div>
		</div>
		
		<div class="form-group">
			<label for="Loglevelconsole" class="col-sm-2 control-label"><a data-placement="bottom" data-toggle="tooltip" data-original-title="Set the loglevel for the console.">Loglevelconsole</a></label>
			<div class="col-sm-10">
			<select name="loglevelconsole" class="form-control">
			#if $logging.getLevelName(autosub.LOGLEVELCONSOLE).lower() == 'info'
				<option value=$logging.INFO selected="selected">Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVELCONSOLE).lower() == 'critical'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL selected="selected">Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVELCONSOLE).lower() == 'warning'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING selected="selected">Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVELCONSOLE).lower() == 'error'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR selected="selected">Error</option>
				<option value=$logging.DEBUG>Debug</option>
			#elif $logging.getLevelName(autosub.LOGLEVELCONSOLE).lower() == 'debug'
				<option value=$logging.INFO>Info</option>
				<option value=$logging.CRITICAL>Critical</option>
				<option value=$logging.WARNING>Warning</option>
				<option value=$logging.ERROR>Error</option>
				<option value=$logging.DEBUG selected="selected">Debug</option>
			#end if
			</select>
			</div>
		</div>