#import autosub

		<table class="table-config">		
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using Addic7ed. Select 'None' if you don't want to use this website. Default is None.">Addic7ed</a></td>
				<td class="pull-right">
					<select id="addic7edlang" name="addic7edlang" class="enableraddic7ed">
					#if $autosub.ADDIC7EDLANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.ADDIC7EDLANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.ADDIC7EDLANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.ADDIC7EDLANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
		</table>
		
		<table class="table-config" id="content_addic7edlang">		
			<tr>
				<td width="200px" align="left"><a data-placement="right" data-toggle="tooltip" data-original-title="What is your username for addic7ed?">Username</a></td>
				<td align="right"><input type="text" class="span2" name="addic7eduser" id="addic7eduser" value="$autosub.ADDIC7EDUSER" /></td>
			</tr>
			<tr>
				<td width="200px" align="left"><a data-placement="right" data-toggle="tooltip" data-original-title="What is your password for addic7ed?">Password</a></td>
				<td align="right"><input type="password" class="span2" name="addic7edpasswd" id="addic7edpasswd" value="$autosub.ADDIC7EDPASSWD" /></td>
			</tr>

			<tr>
				<td width="200px" align="left">&nbsp;</td>
				<td align="right">
					<span id="testAddic7ed-result">Click below to test the Addic7ed login.</span><br>
					<input type="button" class="btn" value="Test Addic7ed" id="testAddic7ed" />
				</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
		</table>

		<table class="table-config">
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using Podnapisi. Select 'None' if you don't want to use this website. Default is Both.">Podnapisi</a></td>
				<td class="pull-right">
					<select name="podnapisilang">
					#if $autosub.PODNAPISILANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.PODNAPISILANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.PODNAPISILANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.PODNAPISILANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using SubScene. Select 'None' if you don't want to use this website. Default is Both.">Subscene</a></td>
				<td class="pull-right">
					<select name="subscenelang">
					#if $autosub.SUBSCENELANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.SUBSCENELANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.SUBSCENELANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.SUBSCENELANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using Bierdopje's mirror on Subtitleseeker. Select 'None' if you don't want to use this website. Default is Both.">Bierdopje mirror</a></td>
				<td class="pull-right">
					<select name="bierdopjemirrorlang">
					#if $autosub.BIERDOPJEMIRRORLANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.BIERDOPJEMIRRORLANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.BIERDOPJEMIRRORLANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.BIERDOPJEMIRRORLANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using OpenSubtitles. Select 'None' if you don't want to use this website. Default is Both.">OpenSubtitles</a></td>
				<td class="pull-right">
					<select name="opensubtitleslang">
					#if $autosub.OPENSUBTITLESLANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.OPENSUBTITLESLANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.OPENSUBTITLESLANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.OPENSUBTITLESLANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
			
			<tr>
				<td class="td-first-config"><a data-placement="right" data-toggle="tooltip" data-original-title="Select which languages you want to download using Undertexter. Select 'None' if you don't want to use this website. Default is Both.">Undertexter</a></td>
				<td class="pull-right">
					<select name="undertexterlang">
					#if $autosub.UNDERTEXTERLANG == 'Both':
						<option value="Both" selected="selected">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.UNDERTEXTERLANG == 'Dutch':
						<option value="Both">Both</option>
						<option value="Dutch" selected="selected">Dutch</option>
						<option value="English">English</option>
						<option value="None">None</option>
					#elif $autosub.UNDERTEXTERLANG == 'English':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English" selected="selected">English</option>
						<option value="None">None</option>
					#elif $autosub.UNDERTEXTERLANG == 'None':
						<option value="Both">Both</option>
						<option value="Dutch">Dutch</option>
						<option value="English">English</option>
						<option value="None" selected="selected">None</option>
					#end if
					</select>
				</td>
			</tr>
		</table>